<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>首页-Easyblog</title>
    <meta name="keywords" content="blog"/>
    <meta name="description" content="blog"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"> -->

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" type="text/css"
          href="css/bootstrap-material-design.min.css">
    <!--<link rel="stylesheet" type="text/css" href="css/meterial_icons.css">-->
</head>
<body>
<header class="navbar navbar-expand navbar-light bg-primary flex-column flex-md-row bd-nvbar text-light">
    <a class="navbar-brand mr-0 mr-md-2" href="/index" aria-label="Easyblog">Easyblog</a>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="/index">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home">前端</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home">后端</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home">Android</a>
            </li>
        </ul>

    </div>
</header>

<div class="container">


</div>
<script src="js/jquery-3.2.1.slim.min.js"></script>

<!--<script src="js/jquery-1.8.3.min.js" type="javascript"></script>-->
<script src="js/popper.js"></script>
<script src="js/bootstrap-material-design.js"></script>

<script>
    $(document).ready(function () {
        $('body').bootstrapMaterialDesign();
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover();
    });
</script>
</body>
</html>