<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>首页-Easyblog</title>
    <meta name="keywords" content="blog" />
    <meta name="description" content="blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/meterial_icons.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body class="mdbootstrap">
    <header>
        <nav
            class="navbar fixed-top navbar-expand-md navbar-dark primary-color double-nav scrolling-navbar top-nav-collapse">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseContent"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-brand" href="/index">
                Easyblog
            </div>
            <div class="collapse navbar-collapse" id="collapseContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index">首页
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">前端</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">后端</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Android</a>
                    </li>
                </ul>

            </div>
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item">
                    <form class="form-inline mr-auto">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="width:0px;">
                        <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button>
                    </form>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link " id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="material-icons">person</i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="/login">登录</a>
                        <a class="dropdown-item" href="/signup">注册</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">


    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <!--<script src="js/jquery-1.8.3.min.js" type="javascript"></script>-->
    <script src="js/popper.js"></script>
    <script src="js/bootstrap-material-design.js"></script>
    <script src="js/base.js"></script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/api/member/curmem',
                dataType: 'json',
                success: function (message) {
                    if (message.state == 'success') {
                        console.log(message.data);
                    } else {

                    }
                }
            });
        });
    </script>
</body>

</html>