<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>注册-Easyblog</title>
    <meta name="keywords" content="blog" />
    <meta name="description" content="blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"> -->

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap-material-design.min.css">
    <link rel="stylesheet" type="text/css" href="css/icon.css">
</head>

<body>
    <div class="container p-0 h-100">
        <div class="card pt-3 pb-3 pl-3 pr-3" style="width:26rem;margin:100px auto 0">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">注册</h5>
                <form id="signup" class="needs-validation" th:action="@{/api/member/signup}" method="post" novalidate>
                    <div class="form-group">
                        <label for="username" class="bmd-label-floating">用户名</label>
                        <input type="text" name="username" class="form-control" id="username" required />
                        <div id="unfb" class="invalid-feedback">
                            请输入用户名
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="bmd-label-floating">密码</label>
                        <input type="password" name="password" class="form-control" id="password" required />
                        <div id="pwfb" class="invalid-feedback">
                            请输入密码
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirmpassword" class="bmd-label-floating">确认密码</label>
                        <input type="password" name="confirmpassword" class="form-control" id="confirmpassword"
                            required />
                        <div id="cpwfb" class="invalid-feedback">
                            请输入确认密码
                        </div>
                    </div>

                    <input class="btn btn-raised btn-primary rounded w-100 mt-3 mb-4" type="submit" value="注册" />

                    <div class="row">
                        <div class="col-sm">
                            <p>已有账号？<a class="text-primary" href="/login" role="link" aria-disabled="true">登录</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/base.js"></script>
    <!--<script src="js/jquery-1.8.3.min.js" type="javascript"></script>-->
    <script src="js/popper.js"></script>
    <script src="js/bootstrap-material-design.js"></script>

    <script>
        $(document).ready(function () {
            $('body').bootstrapMaterialDesign();
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
            
            $('#signup').submit(function (event) {
                event.preventDefault();
                var form = $(this);
                formData = form.serializeObject();
                $('input').focus(function() {
                    $(this).removeClass('is-invalid');
                    $('#unfb').text('请输入用户名');
                    $('#pwfb').text('请输入密码');
                    $('#cpwfb').text('请输入确认密码');
                });
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: formData,
                    dataType: 'json',
                    success: function (message) {
                        if (message.state == 'success') {
                            window.location.href = '/login';
                        } else {
                            $('#username').removeClass("is-invalid");
                            $('#password').removeClass("is-invalid");
                            $('#confirmpassword').removeClass("is-invalid");
                            if (message.data.username) {
                                $("#unfb").text(message.data.username);
                                $('#username').addClass("is-invalid");
                            }
                            if (message.data.usernameregisted) {
                                $("#unfb").text(message.data.usernameregisted);
                                $('#username').addClass("is-invalid");
                            }
                            if (message.data.password) {
                                $("#pwfb").text(message.data.password);
                                $('#password').addClass("is-invalid");
                            }
                            if (message.data.confirmpassword) {
                                $("#cpwfb").text(message.data.confirmpassword);
                                $('#confirmpassword').addClass("is-invalid");
                            }
                            if (message.data.passwordconfirmpassword) {
                                $("#pwfb").text(message.data.passwordconfirmpassword);
                                $("#cpwfb").text(message.data.passwordconfirmpassword);
                                $('#password').addClass("is-invalid");
                                $('#confirmpassword').addClass("is-invalid");
                            }
                        }
                    },
                    error: function (message) {
                        alert("网络错误");
                       //console.log(message);
                    }
                });

            });

        });
    </script>

</body>

</html>