<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="/index">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Easyblog-**</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="row">
            <!--Grid column-->
            <div class="col-xl-9 col-lg-12 mb-4">
                <!--Section: Snippets listing-->
                <section>
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">
                            <!--Card Snippet-->
                            <div class="card card-snippet text-center">

                                <!-- Card content -->
                                <div class="card-body py-3">

                                    <!-- Title -->
                                    <a href="https://mdbootstrap.com/articles/vue/mdb-vue-nuxt-js-quick-start-guide">
                                        <h5 class="card-title font-weight-bold mb-2">MDB Vue &amp; Nuxt.js - Quick start
                                            guide</h5>
                                    </a>
                                    <hr>
                                    <a href="/profile?id=28717" target="_blank">
                                        <img src="https://secure.gravatar.com/avatar/46c881c1bdf1438dbe9249d0aa66e451?s=96&amp;d=mm&amp;r=g"
                                            alt="" class="img-25 rounded-circle mr-2">
                                        <strong>Mikołaj Smoleński</strong>
                                    </a>

                                </div>

                                <!-- Card image -->
                                <div class="view overlay">
                                    <img class="card-img-top rounded-0"
                                        src="https://mdbootstrap.com/img/Marketing/tutorials/vue/nuxt.jpg" alt="">
                                    <a href="https://mdbootstrap.com/articles/vue/mdb-vue-nuxt-js-quick-start-guide">
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>

                                <!-- Card content -->
                                <div class="card-body py-3">
                                    <p class="card-text">This tutorial shows how to easily create an application in
                                        Nuxt.js integrated with MDB Vue.</p>

                                    <a href="/newsfeed/tag/vue" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">vue</span>
                                    </a>
                                    <a href="/newsfeed/tag/nuxt" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">nuxt</span>
                                    </a>
                                    <a href="/newsfeed/tag/ssr" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">ssr</span>
                                    </a>
                                    <hr>


                                    <a class="">
                                        1507 <i class="fas fa-eye mr-2"></i>
                                    </a>
                                    <a class="">
                                        1 <i class="fas fa-comments mr-2"></i>
                                    </a>
                                    <a href="#" class="show_login">
                                        <span class="value">5</span>
                                        <i class="far fa-thumbs-up"></i>
                                    </a>

                                </div>

                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">
                            <!--Card Snippet-->
                            <div class="card card-snippet text-center">

                                <!-- Card content -->
                                <div class="card-body py-3">

                                    <!-- Title -->
                                    <a
                                        href="https://mdbootstrap.com/articles/miscellaneous/coding-challenge-2-beginner-level-creative-launch-of-animation">
                                        <h5 class="card-title font-weight-bold mb-2">Coding challenge #2 (beginner
                                            level) - Creative launch of animation</h5>
                                    </a>
                                    <hr>
                                    <a href="/profile?id=2" target="_blank">
                                        <img src="https://secure.gravatar.com/avatar/8c051fd54e4c811e02bbc78d50549280?s=96&amp;d=mm&amp;r=g"
                                            alt="" class="img-25 rounded-circle mr-2">
                                        <strong>Michal Szymanski</strong>
                                    </a>

                                </div>

                                <!-- Card image -->
                                <div class="view overlay">
                                    <img class="card-img-top rounded-0"
                                        src="https://mdbootstrap.com/img/Marketing/tutorials/other/coding-challenge/2.jpg"
                                        alt="">
                                    <a
                                        href="https://mdbootstrap.com/articles/miscellaneous/coding-challenge-2-beginner-level-creative-launch-of-animation">
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>

                                <!-- Card content -->
                                <div class="card-body py-3">
                                    <p class="card-text">In this tutorial, you will learn how to launch an animation in
                                        a creative way. You will learn how to create a timer, launch an animation,
                                        changing the attri</p>

                                    <a href="/newsfeed/tag/mdbcc" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">mdbcc</span>
                                    </a>
                                    <a href="/newsfeed/tag/javascript" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">javascript</span>
                                    </a>
                                    <a href="/newsfeed/tag/coding-challenge" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">coding-challenge</span>
                                    </a>
                                    <a href="/newsfeed/tag/beginner" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">beginner</span>
                                    </a>
                                    <hr>


                                    <a class="">
                                        741 <i class="fas fa-eye mr-2"></i>
                                    </a>
                                    <a class="">
                                        0 <i class="fas fa-comments mr-2"></i>
                                    </a>
                                    <a href="#" class="show_login">
                                        <span class="value">2</span>
                                        <i class="far fa-thumbs-up"></i>
                                    </a>

                                </div>

                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">
                            <!--Card Snippet-->
                            <div class="card card-snippet text-center">

                                <!-- Card content -->
                                <div class="card-body py-3">

                                    <!-- Title -->
                                    <a
                                        href="https://mdbootstrap.com/articles/vue/vuex-or-emit-basics-of-communication-between-vue-components">
                                        <h5 class="card-title font-weight-bold mb-2">Vuex or $emit? Basics of
                                            communication between Vue components.</h5>
                                    </a>
                                    <hr>
                                    <a href="/profile?id=28717" target="_blank">
                                        <img src="https://secure.gravatar.com/avatar/46c881c1bdf1438dbe9249d0aa66e451?s=96&amp;d=mm&amp;r=g"
                                            alt="" class="img-25 rounded-circle mr-2">
                                        <strong>Mikołaj Smoleński</strong>
                                    </a>

                                </div>

                                <!-- Card image -->
                                <div class="view overlay">
                                    <img class="card-img-top rounded-0"
                                        src="https://mdbootstrap.com/img/Marketing/publications/articles/vuex-vs-$emit.jpg"
                                        alt="">
                                    <a
                                        href="https://mdbootstrap.com/articles/vue/vuex-or-emit-basics-of-communication-between-vue-components">
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>

                                <!-- Card content -->
                                <div class="card-body py-3">
                                    <p class="card-text">In this tutorial, you will learn two ways of handling events
                                        between Vue components in a sample App.</p>

                                    <a href="/newsfeed/tag/vue" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">vue</span>
                                    </a>
                                    <a href="/newsfeed/tag/vuex" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">vuex</span>
                                    </a>
                                    <hr>


                                    <a class="">
                                        866 <i class="fas fa-eye mr-2"></i>
                                    </a>
                                    <a class="">
                                        0 <i class="fas fa-comments mr-2"></i>
                                    </a>
                                    <a href="#" class="show_login">
                                        <span class="value">3</span>
                                        <i class="far fa-thumbs-up"></i>
                                    </a>

                                </div>

                            </div>
                            <!--/.Card-->
                        </div>
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">
                            <!--Card Snippet-->
                            <div class="card card-snippet text-center">

                                <!-- Card content -->
                                <div class="card-body py-3">

                                    <!-- Title -->
                                    <a
                                        href="https://mdbootstrap.com/articles/web-design/charts-customization-tutorial-creating-a-dark-theme-gradient-chart">
                                        <h5 class="card-title font-weight-bold mb-2">Charts customization tutorial -
                                            creating a dark theme, gradient chart</h5>
                                    </a>
                                    <hr>
                                    <a href="/profile?id=2" target="_blank">
                                        <img src="https://secure.gravatar.com/avatar/8c051fd54e4c811e02bbc78d50549280?s=96&amp;d=mm&amp;r=g"
                                            alt="" class="img-25 rounded-circle mr-2">
                                        <strong>Michal Szymanski</strong>
                                    </a>

                                </div>

                                <!-- Card image -->
                                <div class="view overlay">
                                    <img class="card-img-top rounded-0"
                                        src="https://mdbootstrap.com/wp-content/uploads/2019/02/chart2.jpg" alt="">
                                    <a
                                        href="https://mdbootstrap.com/articles/web-design/charts-customization-tutorial-creating-a-dark-theme-gradient-chart">
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>

                                <!-- Card content -->
                                <div class="card-body py-3">
                                    <p class="card-text">In this tutorial, you will learn how to create a customize a
                                        beautiful line chart with a purple gradient in dark-theme style.</p>

                                    <a href="/newsfeed/tag/charts" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">charts</span>
                                    </a>
                                    <a href="/newsfeed/tag/gradient" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">gradient</span>
                                    </a>
                                    <a href="/newsfeed/tag/colors" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">colors</span>
                                    </a>
                                    <hr>


                                    <a class="">
                                        5132 <i class="fas fa-eye mr-2"></i>
                                    </a>
                                    <a class="">
                                        1 <i class="fas fa-comments mr-2"></i>
                                    </a>
                                    <a href="#" class="show_login">
                                        <span class="value">1</span>
                                        <i class="far fa-thumbs-up"></i>
                                    </a>

                                </div>

                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">
                            <!--Card Snippet-->
                            <div class="card card-snippet text-center">

                                <!-- Card content -->
                                <div class="card-body py-3">

                                    <!-- Title -->
                                    <a
                                        href="https://mdbootstrap.com/articles/miscellaneous/coding-challenge-1-beginner-level-creating-a-clock">
                                        <h5 class="card-title font-weight-bold mb-2">Coding challenge #1 (beginner
                                            level) - Creating a clock</h5>
                                    </a>
                                    <hr>
                                    <a href="/profile?id=2" target="_blank">
                                        <img src="https://secure.gravatar.com/avatar/8c051fd54e4c811e02bbc78d50549280?s=96&amp;d=mm&amp;r=g"
                                            alt="" class="img-25 rounded-circle mr-2">
                                        <strong>Michal Szymanski</strong>
                                    </a>

                                </div>

                                <!-- Card image -->
                                <div class="view overlay">
                                    <img class="card-img-top rounded-0"
                                        src="https://mdbootstrap.com/img/Marketing/tutorials/other/coding-challenge/1.jpg"
                                        alt="">
                                    <a
                                        href="https://mdbootstrap.com/articles/miscellaneous/coding-challenge-1-beginner-level-creating-a-clock">
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>

                                <!-- Card content -->
                                <div class="card-body py-3">
                                    <p class="card-text">In this tutorial, you will learn how to create a clock. You
                                        will learn how to get, format and display date and you will practice your
                                        javascript fundamental</p>

                                    <a href="/newsfeed/tag/javascript" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">javascript</span>
                                    </a>
                                    <a href="/newsfeed/tag/coding-challenge" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">coding-challenge</span>
                                    </a>
                                    <a href="/newsfeed/tag/beginner" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">beginner</span>
                                    </a>
                                    <a href="/newsfeed/tag/mdbcc" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">mdbcc</span>
                                    </a>
                                    <hr>


                                    <a class="">
                                        1426 <i class="fas fa-eye mr-2"></i>
                                    </a>
                                    <a class="">
                                        0 <i class="fas fa-comments mr-2"></i>
                                    </a>
                                    <a href="#" class="show_login">
                                        <span class="value">6</span>
                                        <i class="far fa-thumbs-up"></i>
                                    </a>

                                </div>

                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">
                            <!--Card Snippet-->
                            <div class="card card-snippet text-center">

                                <!-- Card content -->
                                <div class="card-body py-3">

                                    <!-- Title -->
                                    <a href="https://mdbootstrap.com/articles/react/gatsby-mdb-react-quick-start-quide">
                                        <h5 class="card-title font-weight-bold mb-2">Gatsby &amp; MDB React - quick
                                            start quide</h5>
                                    </a>
                                    <hr>
                                    <a href="/profile?id=39416" target="_blank">
                                        <img src="https://secure.gravatar.com/avatar/b4a8d4e98fdb515fa57847ead2d29294?s=96&amp;d=mm&amp;r=g"
                                            alt="" class="img-25 rounded-circle mr-2">
                                        <strong>Anna Morawska</strong>
                                    </a>

                                </div>

                                <!-- Card image -->
                                <div class="view overlay">
                                    <img class="card-img-top rounded-0"
                                        src="https://mdbootstrap.com/img/Marketing/tutorials/react/gatsby.jpg" alt="">
                                    <a href="https://mdbootstrap.com/articles/react/gatsby-mdb-react-quick-start-quide">
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>

                                <!-- Card content -->
                                <div class="card-body py-3">
                                    <p class="card-text">Gatsby &amp; MDB React - quick start quideFrom version 4.9.0
                                        MDB React library supports server-side rendering, which means, that it is also
                                        possible t...</p>

                                    <a href="/newsfeed/tag/react" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">react</span>
                                    </a>
                                    <a href="/newsfeed/tag/gatsby" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">gatsby</span>
                                    </a>
                                    <a href="/newsfeed/tag/gatsbyjs" target="_blank" class="mr-2">
                                        <span class="badge badge-pill tag-common">gatsbyjs</span>
                                    </a>
                                    <hr>


                                    <a class="">
                                        1955 <i class="fas fa-eye mr-2"></i>
                                    </a>
                                    <a class="">
                                        1 <i class="fas fa-comments mr-2"></i>
                                    </a>
                                    <a href="#" class="show_login">
                                        <span class="value">6</span>
                                        <i class="far fa-thumbs-up"></i>
                                    </a>

                                </div>

                            </div>
                            <!--/.Card-->
                        </div>
                    </div>
                    <!--Grid row-->
                </section>
                <!--Section: Snippets listing-->
            </div>
            <!--Grid column-->
        </div>
    </div>

    <script layout:fragment="extrajs">
         $(document).ready(function () { 
            $.ajax({
                url:'/api/article/topicats',
                data:{
                    "topicId":1,
                    "start":0,
                    "num":20
                },
                dataType: 'json',
                success: function (message) {
                    if (message.state == 'success') {
                        console.log(message.data);
                    }
                }
            })
         });
    </script>
</body>

</html>